In [1]:
# Download vcf file using wget
!wget -c https://ftp-trace.ncbi.nih.gov/giab/ftp/release/NA12878_HG001/latest/GRCh38/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz
# Unzip vcf file
!gunzip -k HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz

--2021-10-23 17:20:35--  https://ftp-trace.ncbi.nih.gov/giab/ftp/release/NA12878_HG001/latest/GRCh38/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz
Resolving ftp-trace.ncbi.nih.gov (ftp-trace.ncbi.nih.gov)... 165.112.9.229, 130.14.250.13
Connecting to ftp-trace.ncbi.nih.gov (ftp-trace.ncbi.nih.gov)|165.112.9.229|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125932193 (120M) [application/x-gzip]
Saving to: ‘HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz’

HG001_GRCh38_1_22_v 100%[===================>] 120.10M  1.24MB/s    in 69s

2021-10-23 17:21:45 (1.74 MB/s) - ‘HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz’ saved [125932193/125932193]

In [2]:
# Get the number of header lines
!cat HG001_GRCh38_1_22_v4.2.1_benchmark.vcf | grep "^##" | wc -l

     229

In [16]:
# Import packages
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [4]:
# Load vcf file
vcf_df = pd.read_csv("HG001_GRCh38_1_22_v4.2.1_benchmark.vcf",sep='\t',skiprows= 228,header=1)
vcf_df.head(n=10)

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG001
0,chr1,783006,.,A,G,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:652:16,234:0,82:312"
1,chr1,783175,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:639:0,218:0,84:194"
2,chr1,784860,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:901:105,406:0,74:301"
3,chr1,785417,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:820:125,383:0,70:339"
4,chr1,797392,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:760:161,142:25,37:147"
5,chr1,798618,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:526:0,196:0,65:157"
6,chr1,798662,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:563:0,211:0,65:147"
7,chr1,800046,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:640:21,249:0,68:197"
8,chr1,801142,.,A,T,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:246"
9,chr1,801143,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:249"

In [5]:
# Get number of variants in vcf
print("Number of variants is", vcf_df.shape[0])

Number of variants is 3893341

In [6]:
# Get variants count in each chroms
var_counts = vcf_df['#CHROM'].value_counts().sort_index().rename_axis('CHROM').reset_index(name='COUNT')
var_counts

    CHROM   COUNT
0    chr1  307854
1   chr10  198194
2   chr11  197122
3   chr12  186944
4   chr13  155526
5   chr14  124334
6   chr15  113319
7   chr16  117390
8   chr17  101721
9   chr18  116021
10  chr19   85020
11   chr2  325877
12  chr20   82818
13  chr21   54828
14  chr22   49484
15   chr3  269933
16   chr4  293494
17   chr5  250493
18   chr6  263957
19   chr7  220940
20   chr8  210283
21   chr9  167789

In [7]:
# Check if chrX is exist
vcf_df.loc[vcf_df['#CHROM'] == "chrX"].shape

(0, 10)

In [8]:
# Extract passed variants only
vcf_pass_df = vcf_df.loc[vcf_df['FILTER'] == "PASS"]
vcf_pass_df.shape

(3867240, 10)

In [9]:
# Check if variants have ids or not
vcf_pass_df.loc[vcf_pass_df['ID'] != '.'].shape

(0, 10)

In [10]:
vcf_pass_df = vcf_pass_df.drop(['ID','FILTER'], axis=1)
vcf_pass_df.head(n=10)

,#CHROM,POS,REF,ALT,QUAL,INFO,FORMAT,HG001
0,chr1,783006,A,G,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:652:16,234:0,82:312"
1,chr1,783175,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:639:0,218:0,84:194"
2,chr1,784860,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:901:105,406:0,74:301"
3,chr1,785417,G,A,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:820:125,383:0,70:339"
4,chr1,797392,G,A,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:760:161,142:25,37:147"
5,chr1,798618,C,T,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:526:0,196:0,65:157"
6,chr1,798662,G,A,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:563:0,211:0,65:147"
7,chr1,800046,G,A,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:640:21,249:0,68:197"
8,chr1,801142,A,T,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:246"
9,chr1,801143,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:249"

In [11]:
# Get minimum and maximum quality
min_qual = min(vcf_pass_df['QUAL'])
max_qual = max(vcf_pass_df['QUAL'])

print("Min quality =", min_qual, "and maximum =", max_qual)

Min quality = 50 and maximum = 50

In [12]:
# Split FORMAT and HG001 columns
vcf_pass_df[['GT', 'PS', 'DP', 'ADALL', 'AD', 'GQ']] = vcf_pass_df['HG001'].str.split(':', expand=True)
vcf_pass_df.head(n=10)

,#CHROM,POS,REF,ALT,QUAL,INFO,FORMAT,HG001,GT,PS,DP,ADALL,AD,GQ
0,chr1,783006,A,G,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:652:16,234:0,82:312",1/1,.,652,"16,234","0,82",312
1,chr1,783175,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:639:0,218:0,84:194",1/1,.,639,"0,218","0,84",194
2,chr1,784860,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:901:105,406:0,74:301",1/1,.,901,"105,406","0,74",301
3,chr1,785417,G,A,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:820:125,383:0,70:339",1/1,.,820,"125,383","0,70",339
4,chr1,797392,G,A,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:760:161,142:25,37:147",0/1,.,760,"161,142","25,37",147
5,chr1,798618,C,T,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:526:0,196:0,65:157",1/1,.,526,"0,196","0,65",157
6,chr1,798662,G,A,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:563:0,211:0,65:147",1/1,.,563,"0,211","0,65",147
7,chr1,800046,G,A,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:640:21,249:0,68:197",1/1,.,640,"21,249","0,68",197
8,chr1,801142,A,T,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:246",1/1,.,431,"51,183","0,67",246
9,chr1,801143,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:249",1/1,.,431,"51,183","0,67",249

In [13]:
# Remove FORMAT and HG001 columns
vcf_pass_df = vcf_pass_df.drop(['FORMAT','HG001'], axis=1)
vcf_pass_df.head(n=10)

,#CHROM,POS,REF,ALT,QUAL,INFO,GT,PS,DP,ADALL,AD,GQ
0,chr1,783006,A,G,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,652,"16,234","0,82",312
1,chr1,783175,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,639,"0,218","0,84",194
2,chr1,784860,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,901,"105,406","0,74",301
3,chr1,785417,G,A,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,820,"125,383","0,70",339
4,chr1,797392,G,A,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",0/1,.,760,"161,142","25,37",147
5,chr1,798618,C,T,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",1/1,.,526,"0,196","0,65",157
6,chr1,798662,G,A,50,"platforms=3;platformnames=PacBio,Illumina,10X;...",1/1,.,563,"0,211","0,65",147
7,chr1,800046,G,A,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,640,"21,249","0,68",197
8,chr1,801142,A,T,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,431,"51,183","0,67",246
9,chr1,801143,T,C,50,"platforms=4;platformnames=PacBio,Illumina,10X,...",1/1,.,431,"51,183","0,67",249

In [14]:
# Check there are two ALTs in ALT column
vcf_pass_df.loc[vcf_pass_df['ALT'].str.find(",") == 1].head(n=10)

,#CHROM,POS,REF,ALT,QUAL,INFO,GT,PS,DP,ADALL,AD,GQ
4601,chr1,4359862,C,"A,CA",50,"platforms=3;platformnames=Illumina,PacBio,CG;d...",2/1,.,389,"59,88,51","1,67,38",815
6130,chr1,5117850,C,"A,CAA",50,"platforms=2;platformnames=Illumina,PacBio;data...",1/2,.,165,"5,86,69","0,65,51",117
6435,chr1,5270807,G,"A,C",50,"platforms=5;platformnames=Illumina,PacBio,CG,1...",1/2,.,699,"0,129,118","55,206,140",1177
7025,chr1,5602827,C,"A,G",50,"platforms=3;platformnames=Illumina,PacBio,CG;d...",2/1,.,689,"0,139,141","25,191,174",800
18802,chr1,14791744,A,"C,G",50,"platforms=4;platformnames=Illumina,PacBio,CG,1...",1/2,.,648,"0,111,119","28,173,143",665
20944,chr1,16179600,T,"A,TA",50,"platforms=2;platformnames=Illumina,PacBio;data...",1/2,.,281,"0,107,105","0,142,138",141
22542,chr1,17376539,T,"A,TTTTTTTTATTTTTAGTGGGCTAA",50,platforms=1;platformnames=Illumina;datasets=1;...,1/2,.,133,"0,58,75","0,58,75",99
25251,chr1,19016739,G,"A,T",50,"platforms=4;platformnames=Illumina,PacBio,CG,1...",1/2,.,836,"1,159,154","52,233,187",855
26917,chr1,20031044,G,"C,T",50,"platforms=5;platformnames=Illumina,PacBio,CG,1...",1/2,.,787,"0,142,157","39,212,172",977
27014,chr1,20110398,G,"C,T",50,"platforms=4;platformnames=Illumina,PacBio,CG,1...",1/2,.,609,"0,103,101","30,170,122",624

In [ ]:
# Import MySQL Connector
# import mysql.connector
# from mysql.connector import Error

# Connect to database
# try:
#     connection = mysql.connector.connect(host = "localhost",
#                                         database = "vcf_test_db",
#                                         user = "root",
#                                         password = "QSZWAX191994ub")
#     if connection.is_connected():
#         db_info = connection.get_server_info()
#         print("Connected to MySQL Server version ", db_info)
#         cursor = connection.cursor()
#         cursor.execute("select database();")
#         record = cursor.fetchone()
#         print("You're connected to database: ", record)
        
#         mysql_insert_query = """INSERT INTO vcf (chrom, pos, ref, alt,qual, info, GT,PS,DP,ADALL,AD,GQ)
#             VALUES (%s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s)"""

#         records = list(vcf_pass_df.itertuples(index=False, name=None))
#         cursor.execute(mysql_insert_query, records)
#         connection.commit()
        
#         vcf_pass_df.to_sql(name="vcf_new",con=connection, if_exists ="append")
    
# except Error as e:
#     print("Error", e)
# finally:
#     if connection.is_connected():
#         cursor.close()
#         connection.close()
#         print("MySQL connection is closed")

In [23]:
# Add data frame to database

table_name= 'vcf_new'
sql_engine= create_engine('mysql+pymysql://root:QSZWAX191994ub@localhost:3306/vcf_test_db')
connection    = sql_engine.connect()

try:
    frame = vcf_pass_df.to_sql(table_name,connection, if_exists='replace')
except ValueError as vx:
    print("Value Error:", vx)
except Exception as ex:
    print("Exception:", ex)
else:
    print("Table %s created successfully."%table_name)
finally:
    connection.close()

Table vcf_new created successfully.